#mypage {
    width:100%;
    .container {
        width:100%;
        max-width: 1280px;
        margin:0 auto;
        height:1600px;
        .gap {
            width:100%;
            .content {
                margin-top:30px;
                width:100%;
                display:flex;
                .left-box {
                    width:200px;
                    .sub-menu-box {
                        .sub-menu-mypage {
                            margin-top:43px;
                            .sub-menu-tit {
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 27px;
                                margin: 30px 0;
                                color:#333;
                                .sub-menu-detail {
                                    .detail-tit {
                                      font-size: 15px;
                                      font-weight: 300;
                                      color:#777;
                                      line-height: 22.5px;
                                      padding: 8px 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .right-box {
                    width:calc(100% - 240px);
                    padding-left:40px;
                    .mypage-main {
                        width: 100%;
                        .mypage-row1 {
                            width:100%;
                            display:flex;
                            border:1px solid #e3e3e3;
                            .mypage-name-box {
                                width:50%;
                                .name-box {
                                    width:421.109px;
                                    height:220px;
                                    padding: 0 20px;
                                    text-align: center;
                                    background: #f7f9f8;
                                    .user-name {
                                        font-size: 28px;
                                        font-weight: 700;
                                        color:#343534;
                                        line-height: 150px;
                                    }
                                    p {
                                        margin-top:-30px;
                                        color:#12b560;
                                        font-size: 15px;
                                        line-height: 22.5px;    
                                    }
                                }
                            }
                            .mypage-point-box {
                                width:70%;
                                ul {
                                    padding:60px 10px;
                                    display:block;
                                    >li {
                                        text-align: center;
                                        display:inline-block;
                                        margin-right:50px;
                                        img {

                                        }
                                        .tit1 {
                                            color:#222;
                                            font-size: 16px;
                                            font-weight: 400;
                                            letter-spacing: -1px;
                                            line-height: 19.2px;
                                            margin:8px 0;
                                        }
                                        .tit2 {
                                            display:flex;
                                            justify-content: center;
                                            p {
                                                color:#12b560;
                                                font-size: 16px;
                                                font-weight: 400;
                                                line-height: 19.2px;
                                                letter-spacing: -1px;
                                                margin-top:8px;
                                            }
                                            span {
                                                color:#12b560;
                                                font-size: 26px;
                                                font-weight: 400;
                                                letter-spacing: -1px;
                                                line-height: 26px;
                                            }   
                                        }
                                    }
                                }
                            }
                        }
                        .mypage-row2 {   
                            .mypage-update { 
                                .update-tit {
                                    width:1100px;
                                    margin-top:50px;
                                    padding-bottom :10px;
                                    margin-bottom: 50px;
                                    border-bottom: 1px solid #dbdbdb;
                                    h2 {
                                        font-size: 18px;
                                        font-weight: 700;
                                        color:#333;
                                        line-height: 27px;
                                    }
                                }
                                .update-form {
                                    .mypage-inf {   
                                        #formJoin {

                                            .member-inf {
                                                .member-inf-tit {
                                                    width:1100px;
                                                    margin-bottom:20px;
                                                    display:flex;
                                                    justify-content: space-between;
                                                    h3   {
                                                        color:#333;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 27px;
                                                        padding-bottom: 17px;
                                                    }
                                                    span {
                                                        font-size: 14px;
                                                        color:#a8a8a8;
                                                        line-height: 40px;
                                                        letter-spacing: -1px;
                                                    }
                                                }
                                                .member-base-inf {
                                                    width:1100px;
                                                    border:1px solid #dbdbdb;
                                                    height:450px;
                                                    display:block;
                                                    table {
                                                        display:table;
                                                        colgroup {

                                                            col {
                                                            }
                                                        }
                                                        tbody {
                                                            display:table-row-group;
                                                            tr {
                                                                height:110px;
                                                                text-align: left;
                                                                th {
                                                                    background-color: #f9f9f9;
                                                                    span {
                                                                        margin-left:30px;
                                                                        font-size: 14px;
                                                                        color:#333;
                                                                        line-height: 21px;
                                                                    }
                                                                }
                                                                td {
                                                                    display:flex;
                                                                    margin-left:40px;
                                                                    margin-top:30px;
                                                                    justify-content: center;
                                                                    align-items: center;
                                                                    input {
                                                                        height:50px;
                                                                        width:300px;
                                                                        background: #f9f9f9;
                                                                        border:0;
                                                                        font-size: 14px;
                                                                        color:#a8a8a8;
                                                                        line-height: 21px;
                                                                        padding-left:25px;
                                                                    }
                                                                    .member-birth { 
                                                                        &:nth-child(1){
                                                                            margin-left:50px;
                                                                        }
                                                                        .chosen-single {
                                                                            height:50px;
                                                                            text-align: center;
                                                                            color:#999;
                                                                            border:1px solid #7e9fc2;
                                                                            margin-right:10px;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                .update-btn-box {
                                                    display:flex;
                                                    justify-content: center;
                                                    margin-top:50px;
                                                    button {
                                                        width:243px;
                                                        height:63px;
                                                        padding:17px 0;
                                                        margin-right: 10px;
                                                        background: #fff;
                                                        color:#12b560;
                                                        border:1px solid #12b560;
                                                        font-size: 18px;
                                                    }
                                                    .update-btn {
                                                        width:243px;
                                                        height:63px;
                                                        padding:17px 0;
                                                        margin-right: 10px;
                                                        background: #12b560;
                                                        color:#fff;
                                                        border:1px solid #fff;
                                                        font-size: 18px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}