#wrap {
    width:100%;
    #section3 {
        width: 100%;
        margin : 0 auto;
        .container {
            width:100%;
            max-width:1280px;
            margin : 90px 311.5px 0 311.5px;
            .gap {
                width:100%;
                .title {
                    display:flex;
                    justify-content: space-between;
                    
                    h2   {
                        line-height: 48px;
                        font-size: 32px;
                        color: #111;
                        font-weight: 600;
                        letter-spacing: -1px;
                    }
                    span {
                        font-size: 16px;
                        padding: 20px 0px 0 0;
                        margin-right: 30px;
                        color: #222;
                        font-weight: 400;
                    }
                }
                .content {
                    width:100%;
                    ul {
                        display:flex;
                        flex-flow: row wrap;
                        // align-items: center;
                        // justify-content: center;
                        > li {
                            width: calc(100% / 4);
                            &:nth-child(1){
                                .col-gap {
                                    .img-box {
                                        span {
                                            background-image: url(../img/31916_l1_S_320.jpg);
                                        }
                                    }
                                }
                            }
                            &:nth-child(2){
                                .col-gap {
                                    .img-box {
                                        span {
                                            background-image: url(../img/34629_l1_S_320.jpg);
                                        }
                                    }
                                }
                            }
                            &:nth-child(3){
                                .col-gap {
                                    .img-box {
                                        span {
                                            background-image: url(../img/34627_l1_S_320.jpg);
                                        }
                                    }
                                }
                            }
                            &:nth-child(4){
                                .col-gap {
                                    .img-box {
                                        span {
                                            background-image: url(../img/34627_l1_S_320.jpg);
                                        }
                                    }
                                }
                            }
                            &:nth-child(5){
                                .col-gap {
                                    .img-box {
                                        span {
                                            background-image: url(../img/34624_l1_S_320.jpg);
                                        }
                                    }
                                }
                            }
                            &:nth-child(6){
                                .col-gap {
                                    .img-box {
                                        span {
                                            background-image: url(../img/34624_l1_S_320.jpg);
                                        }
                                    }
                                }
                            }
                            &:nth-child(7){
                                .col-gap {
                                    .img-box {
                                        span {
                                            background-image: url(../img/33957_p1_S_320.jpg);
                                        }
                                    }
                                }
                            }
                            &:nth-child(8){
                                .col-gap {
                                    .img-box {
                                        span {
                                            background-image: url(../img/34020_l1_S_450.jpg);
                                        }
                                    }
                                }
                            }
                            .col-gap {

                                    .img-box {
                                        width:100%;
                                        position: relative;
                                        width:314px;
                                        height:314px;
                                        img {
                                            z-index: 2;
                                            position: relative;
                                            width:100%;
                                            transform: perspective(314px * 2) rotateY(0deg);
                                            backface-visibility: hidden;
                                            transition: all 0.3s ease-in-out;
                                        }
                                        span {
                                           z-index: 1;
                                           position: absolute;
                                           left:0;
                                           top:0;
                                           display:block;
                                           width:314px;
                                           height:314px;
                                           background: url() no-repeat 50% 50%;
                                           background-size: cover;
                                           transform: perspective(314px * 2) rotateY(180deg);
                                        //    backface-visibility: hidden;
                                           transition: all 0.3s ease-in-out;
                                        }
                                    }
                                    .text-box {
                                        padding : 30px 9px 0 9px;
                                        h4 {
                                            font-size: 16px;
                                            font-weight: 400;
                                            color : #222;
                                            letter-spacing: -1px;
                                            padding-bottom: 5px;
                                        }
                                        p {
                                            strong {
                                                font-size: 26px;
                                                color : #111;
                                                font-weight: 600;
                                                line-height: 41.6px;
                                            }
                                            .stock {
                                                font-size: 19px;
                                                font-weight: 400;
                                                line-height: 28.5px;
                                                letter-spacing: -1px;
                                                margin :0 3px 0 4px;
                                                color: #999;
                                                text-decoration: line-through;
                                            }
                                            .cost {
                                                font-size: 26px;
                                                color :#d62136;
                                                font-weight: 500;
                                                letter-spacing: -1px;
                                                line-height: 39px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    #section3 .container .gap .content ul > li .col-gap .img-box:hover img  {
        transform: perspective(314px * 2) rotateY(-180deg);
    }
    #section3 .container .gap .content ul > li .col-gap .img-box:hover span {
        transform: perspective(314px * 2) rotateY(0deg);
    }
}