#wrap {
  width: 100%;
}
#wrap #section9 {
  width: 100%;
  height: 467px;
  padding-bottom: 110px;
}
#wrap #section9 .container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
#wrap #section9 .container .gap {
  width: 100%;
}
#wrap #section9 .container .gap .title {
  width: 100%;
  margin: 96px 0 9px 0;
  display: flex;
  justify-content: space-between;
}
#wrap #section9 .container .gap .title h2 {
  font-size: 32px;
  color: #222;
  font-weight: 550;
  letter-spacing: -1px;
  line-height: 48px;
}
#wrap #section9 .container .gap .title h4 {
  font-size: 16px;
  color: #222;
  font-weight: 400;
}
#wrap #section9 .container .gap .content {
  width: 100%;
}
#wrap #section9 .container .gap .content h3 {
  font-size: 20px;
  color: #222;
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 30px;
}
#wrap #section9 .container .gap .content ul {
  display: flex;
  justify-content: space-around;
  margin: 43px 0 0 0;
  text-align: center;
}
#wrap #section9 .container .gap .content ul li img {
  width: 100%;
  vertical-align: top;
}
#wrap #section9 .container .gap .content ul li h3 {
  margin: 30px 0 0 0;
  font-size: 18px;
  color: #222;
  font-weight: 550;
  letter-spacing: -1px;
}
#wrap #section9 .container .gap .content ul li span {
  font-size: 14px;
  color: #777;
  line-height: 21px;
  letter-spacing: -1.5px;
  font-weight: 400;
}